@model LogsViewModel
@{
    var q = Model.Query;
    var tz = UserSettingsStore.Get(User.Identity!.Name!).TimeZoneOffset;
}
<tr data-top-id="@Model.TopId" data-last-id="@Model.LastId" data-has-more="@(Model.HasMore ? "1" : "0")" class="hidden"></tr>
@if (Model.Entries.Length == 0)
{
    <tr><td colspan="8" class="empty">Записей нет</td></tr>
}
@foreach (var e in Model.Entries)
{
    var cls = e.Level switch { "Error" => "E", "Warning" => "W", "Verbose" => "V", _ => "" };
    var devPrefix = e.DeviceId.Length >= 8 ? e.DeviceId[..8] : e.DeviceId;
    var cat = e.Category ?? "";
    <tr class="@cls">
        <td class="ts"><a href="/admin/logs/@e.Id">@e.ServerTs.FormatTime(tz)</a></td>
        <td class="dev" title="@e.DeviceId">
            <span class="cell">@devPrefix<a class="cell__inc" href="#" @@click.prevent="$store.logs.addIncl('DeviceId', '@e.DeviceId')">&#x2713;</a><a class="cell__exc" href="#" @@click.prevent="$store.logs.addExcl('DeviceId', '@e.DeviceId')">&#x2715;</a></span>
        </td>
        <td class="trace">
            @if (!string.IsNullOrEmpty(e.TraceId))
            {
                <span class="cell">@e.TraceId<a class="cell__inc" href="#" @@click.prevent="$store.logs.addIncl('TraceId', '@e.TraceId')">&#x2713;</a><a class="cell__exc" href="#" @@click.prevent="$store.logs.addExcl('TraceId', '@e.TraceId')">&#x2715;</a></span>
            }
        </td>
        <td class="ip">
            <span class="cell">@e.ClientIp<a class="cell__inc" href="#" @@click.prevent="$store.logs.addIncl('ClientIp', '@e.ClientIp')">&#x2713;</a><a class="cell__exc" href="#" @@click.prevent="$store.logs.addExcl('ClientIp', '@e.ClientIp')">&#x2715;</a></span>
        </td>
        <td class="lvl lvl-@e.Level">
            <span class="cell">@e.Level.LevelAbbr()<a class="cell__inc" href="#" @@click.prevent="$store.logs.addIncl('Level', '@e.Level')">&#x2713;</a><a class="cell__exc" href="#" @@click.prevent="$store.logs.addExcl('Level', '@e.Level')">&#x2715;</a></span>
        </td>
        <td class="cat" title="@cat">
            <span class="cell">@cat.ShortName()<a class="cell__inc" href="#" @@click.prevent="$store.logs.addIncl('Category', '@cat')">&#x2713;</a><a class="cell__exc" href="#" @@click.prevent="$store.logs.addExcl('Category', '@cat')">&#x2715;</a></span>
        </td>
        <td class="msg">@e.Message</td>
        <td class="act">
            <button class="copy-row-btn" type="button" title="Копировать"
                    data-copy-url="/admin/logs/@e.Id/text">&#x2398;</button>
        </td>
    </tr>
}
